.first {
    border: 100px solid black;
    border-width: thick;

}

.second {
    border: 100px solid black;
    border-width: medium;

}

.third {
    border: 100px solid black;
    border-width: thin;
}